<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="https://sso.egov.uz/sso/oauth/Authorization.do" method="get">{% csrf_token %}
        <input type="hidden" name="response_type" value="one_code">
        <input type="hidden" name="client_id" value="unicon_yagona_billing">
        <input type="hidden" name="redirect_uri" value="http://127.0.0.1:8000/">
        <input type="hidden" name="scope" value="unicon_yagona_billing">
        <input type="hidden" name="state" value="Uzbekistan">
        <input type="submit" value="Register with OneID">
    </form>
</body>
</html>